{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <!-- Asegúrate de enlazar tu archivo de estilos CSS o incluir los estilos directamente aquí -->
</head>
<body>
    <h1>Dashboard</h1>
    <div class="chart-container">
        <div class="chart-box">
            <img src="{% static 'charts/market_share.png' %}" alt="Market Share Chart">
        </div>
        <!-- Repite para los otros gráficos, asegurándote de que los nombres de archivo coincidan -->
    </div>
</body>
</html>
